<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048203336403-15tls0a4dh95fk07s2tn6tchfd2m1eu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048203336403-15tls0a4dh95fk07s2tn6tchfd2m1eu1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048203336403-7hsumfjb695a10khon461jok31o3bijj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAc2RMwUopItArU4TozolaRDH0hMmT9v88</string>
	<key>GCM_SENDER_ID</key>
	<string>1048203336403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendzo</string>
	<key>PROJECT_ID</key>
	<string>harshit-jan-project-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>harshit-jan-project-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048203336403:ios:9501ded3880f8afe3a5226</string>
</dict>
</plist>